@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Quicksand, sans-serif;
}

.Logo {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 25px;
    margin-top: 25px;
    padding: 25px;
}

header .menu-hamburger {
    display: none;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 35px;

}

.fa-shield {
    display: flex;
    margin: 10px;
    color: rgb(255, 179, 0);
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-container {
    background-image: url('img/RTX\ shop.jpg'), linear-gradient(rgb(10, 16, 34) 39%, rgb(10, 32, 90) 100%);
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: -10;
    min-height: 626px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
    width: 100%;
    height: 60px;
    z-index: 10;
}

header>img {
    width: 124px;
    height:50px;
}

header .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-menu {
    align-items: left;
    margin-right: 150px;
    margin-top: 25px;
}

header .nav-menu a {
    text-decoration: none;
    margin: 10px 20px;
    font-weight: 600;
    color: #fff;
}

header>a {
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 14px;
    background-color: #fff;
    font-weight: 500;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 0 px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

header .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-menu {
    align-items: left;
    margin-right: 50px;
    margin-top: 50;
}

header .nav-menu a {
    text-decoration: none;
    margin: 10px 50px;
    font-weight: 600;
    color: #fff;
}

/*------------------------------------------------------------------- Product Card----------------------------------------------------------*/

.main{
    margin: 30px;
    margin-top: 80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  /* Toutes les cartes */
  .cards{
    background-color: #d3d3d3;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
  }
  .cards .card{
    cursor:pointer;
    margin-right: 2px;
    height: 25rem;
  }
  .cards .card img{
    width: 350px;
    border-radius: 20px;
    margin-left: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
  }
  .card-body{
    color: #23272a;
    font-weight: 500;
    font-family: Poppins;
}
 .cards .card .card-header{
    display: flex;
    flex-wrap:wrap;
    margin: -10px;
    margin-left: 6vh;
  }
  .cards .card .card-header .price{
    display: grid;
    flex-wrap:wrap;
    margin: -5px;
    margin-left: 10.2vh;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 0 2rem 6rem rgba(0, 0, 0, .7);
  }
  .cards .card .card-body p{
    margin-top: 6px;
    max-width: 15rem;
    font-size: 13px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .card-body p{
    margin-left: 78px;
  }
  .Stocks span {
    margin-left: 6vh;
    font-size: 10px;
    margin-top: -1vh;
    font-weight: bold;
   }
   .Stocks span:nth-child(2){
     color: #0ac419;
     margin-left: 5px;
     font-size: 12px;
   }

   button {
     border: 0;
     background: #c4990a;
     margin-left: 22vh;
     margin-top: 2vh;
     position: absolute;
     height: 25px;
     width: 200px;
     border-radius: 10px;
     color: white;
     font-weight: bold;
     letter-spacing: 0.1rem;
     align-items: center;
     justify-content: center;
       }
    button {
     border: 0;
     background: #c4990a;
     margin-left: 27vh;
     margin-top: 2vh;
     position: absolute;
     height: 25px;
     width: 120px;
     border-radius: 10px;
     color: white;
     font-weight: bold;
     letter-spacing: 0.1rem;
     align-items: center;
     justify-content: center;
     cursor: pointer;
         }
         button::after {
            transform: rotate(20deg);
         }

   .fa-arrow-right-long {
     margin: 4px;
     align-items: center;
     justify-content: center;
   }

  img {
    margin: 35px;
  }
  

  /* Fin de toutes les cartes */

  /*--------------------------------------------------------------------tablette-----------------------------------------------------*/
  @media screen and (max-width:1150px) {
    * {
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .Logo {
        display: flex;
        color: #fff;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 0px;
        padding: 0;
        margin-left: -20px;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: -100px;
        background-color: #23272a;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 0;
        padding: 0;
        top: -30px;
        display: block;
        height: 40vh;
    }

    .nav-item{
        margin: 50px 0;
    }
    .cards .card img{
        width: 450px;
        border-radius: 20px;
      }
    .main{
        margin: 9vh;
        margin-top: 80px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      }
}

/*-------------------------------------------------------------------mobile responsive----------------------------------------------------------*/

@media screen and (max-width:900px) {
    .top-container {
        background-image: url('img/Rtx1\ mobile.jpg'), linear-gradient(rgb(10, 16, 34) 39%, rgb(10, 32, 90) 100%);
        background-position: center;
        justify-content: center;
        align-items: center;
        z-index: -10;
        min-height: 580px;
    }
    header {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        width: -webkit-fill-available;
    }
    header .menu-hamburger {
        display: block;
    }
    .Logo {
        display: flex;
        color: #fff;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 0px;
        padding: 0;
        margin-left: -20px;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -200%;
        top: -100px;
        background-color: #23272a;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 0;
        padding: 0;
        top: -30px;
        display: block;
        height: 50vh;
    }

    .nav-item{
        margin: 50px 0;
    }
    .cards .card img{
        width: 350px;
        border-radius: 20px;
        margin-left: 0.1vh;
        margin-top: 0;
      }
    .card-body{
        color: #23272a;
        font-weight: 500;
        font-family: Poppins;
    }
    
    .card {
        width: 22rem;
        height: 25rem;
        background-color: #d3d3d3;
        border-radius: 20px;
        margin: 40px;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, .7);
    }
    .cards .card{
        margin-right: 35px;
        cursor:pointer;
      }
      .cards .card .card-header{
        display: flex;
        flex-wrap:wrap;
        margin: -5px;
        margin-left: 2vh;
      }
      .cards .card .card-header .price{
        display: flex;
        margin: -5px;
        margin-left: 15vh;
        border-radius: 5px;
        font-size: 20px;
        text-shadow: 0 2rem 6rem rgba(0, 0, 0, .7);
      }
      .cards .card .Stocks{
        margin-top: 1vh;
        max-width: 15rem;
      }
    
      .card-body p{
        margin-left: 78px;
      }
      .Stocks span {
       margin-left: 2vh;
       font-size: 10px;
       margin-top: -1vh;
       font-weight: bold;
      }
      .Stocks span:nth-child(2){
        color: #0ac419;
        margin-left: 5px;
        font-size: 12px;
      }

      button {
        border: 0;
        background: #c4990a;
        margin-left: 22vh;
        margin-top: 12vh;
        position: relative;
        height: 30px;
        width: 195px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        letter-spacing: 0.1rem;
        align-items: center;
        justify-content: center;
      }

      .fa-credit-card {
        margin: 4px;
      }
    
}